/**
* @file
* SPCTRM admin toolbar styles.
*
* Important styles. Please don't edit.
*/

#spctrm-container {
  position: fixed;
  z-index: 200;
  top: 15%;
  width: 310px;
  height: 100%;
  font-family: "Helvetica", Arial, sans-serif;
}

#spctrm-container label {
  text-transform: uppercase;
  font-size: 10px;
}

.spctrm-hide {
  left: -252px;
}
.spctrm-show {
  left: 0px;
}

.spctrm-inner {
  z-index: 1;
  float: left;
  width: 220px;
  height: 75%;
  padding: 8px 15px;
  -khtml-border-radius-bottomright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow:  1px 0px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow:  1px 0px 2px 0px rgba(0, 0, 0, 0.5);
}

.spctrm-toggle {
  float: right;
  width: 60px;
  height: 60px;
  cursor: pointer;
  -khtml-border-radius-bottomright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -khtml-border-radius-topright: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  color: #fff;
  background: url('images/spctrm-logo.png') 16px 11px no-repeat #fff;
  -webkit-box-shadow:  2px 0px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow:  2px 0px 2px 0px rgba(0, 0, 0, 0.5);
}

/* Change to normal jQuery colorpicker css behavior */
.colorpicker {
  z-index: 201 !important;
}

.spctrm-overflow {
  position: absolute;
  width: 71%;
  height: 100%;
  max-height: 59%;
  padding-right: 15px;  
  overflow: scroll;
  overflow-x: hidden;
}

.spctrm-inner .form-item-colorize-scheme label {
  color: #333;
  font-size: 13px;
}


/* SPCTRM fieldsets*/

.spctrm-inner fieldset {
  position: relative;
  top: 12px;
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 0 0 10px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #ccc;
}
.spctrm-inner fieldset legend {
  position: absolute;
  top: -12px;
  width: 100%;
  height: 2em;
  padding: 0;
  font-size: 13px;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-bottom: none;
  color: #333;
  display: block;
  line-height: 2;
  text-indent: 20px;
  text-shadow: 0 1px 0 #eee;
}
.spctrm-inner fieldset .fieldset-wrapper {
  margin-top: 25px;
  padding: 0 10px;
}
.spctrm-collapse legend {
  -khtml-border-radius-bottomright: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -khtml-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  cursor: pointer;
  background-image: url('images/arrow-right.png');
  background-position: 8px 45%;
  background-repeat: no-repeat;
}
.spctrm-collapsed legend {
  -khtml-border-radius-bottomright: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -khtml-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
  background-image: url('images/arrow-down.png');
  background-position: 8px 45%;
  background-repeat: no-repeat;
} 
.spctrm-collapse .fieldset-wrapper {
  display: none;
}

/* SPCTRM submit button */

.spctrm-inner .form-submit {
  float: right;
  position: absolute;
  bottom: 23%;
  width: 220px;
  height: 35px;
  margin: 8px 0;
  padding: 5px;
  border-radius: 2px !important;
  border-color: #ccc;
  background: #ddd;
  color: #333;
  text-shadow: none;
  cursor: pointer;
}
.spctrm-inner .form-submit:hover {
  float: right;
  margin: 8px 0;
  padding: 5px;
  background: #333;
  border-color: #222;
  color: #fff;
  text-shadow: none;
}
.spctrm-inner .form-submit:active {
  background: #111;
  border-color: #000;
  color: #fff;
}

/* Inputs */

.spctrm-inner .form-type-textfield {
  float: right;
  width: 71%;
  margin: 3px 0;
}

.spctrm-inner .form-type-jquery-colorpicker {
  float: left;
  width: 50px;
  margin: 10px 0;
}

.spctrm-inner .hex-value-view {
  color: #000 !important;
  background-color: transparent !important;
  border-radius: 0 !important;
}

/* Select Field */

.form-item-spctrm-scheme select.form-select {
  width: 93%;
  height: 25px;
  padding: 3px 4px 3px 4px;
  font-size: 12px;
  border: 1px solid #ccc;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.form-item-spctrm-scheme select option {
  padding: 3px;
  font-size: 12px;
  border: none;
}
.form-item-spctrm-scheme label {
  margin-bottom: 5px;
  font-size: 13px;
}